*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #343a40;

}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.navbar ul {
    list-style: none;
    display: flex;
}
.navbar a {
    color: #ffffff;
    display: flex;
    text-decoration: none;
    margin: 0 1rem;
    font-size: 1.2rem;

}
.navbar a:hover {
    text-decoration: underline;
    color: #ffc107;
}
.nombre{
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: auto;
    text-align: left;
    }   
footer {
    background-color: #343a40;  
    color: #ffffff;
    text-align: center;
    padding: 1rem;
    position: relative;     
    bottom: 0;
    width: 100%;
    margin-top: 2rem;
}     
footer a {
    color: white;
    text-decoration: none;
}                           